.selected {
	width: 100%;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 1;
	margin-bottom: 2%;
}

.selected__item {
	list-style: none;
	margin-right: 30px;
	font-size: 22px;
	color: #bdb9b5;
	cursor: pointer;
	font-family: 'Trueno';
	border-bottom: 3px solid #fff;
	transition: .2s linear;
}

.selected__item.active {
	color: #623232;
}

.selected__item:hover {
	border-bottom: 3px solid #ff7373;
}

